.ContainerProjects{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 179, 179);
}

.FEC{
  padding-top: 20px;
  overflow: hidden;
  min-width: 70%;
  max-width: 70%;
  transition: ease-in-out 0.5s;
}

.FEC img{
  max-width: 100%;
  max-height: 100%;
}

.img_description{
  font-size: 50px;
  position: absolute;
  color: black;
  top: 22%;
  right: 48%;
  visibility: hidden;
  transition: ease-in 0.1s;
}

.FEC:hover {
  cursor: pointer;
  transition: ease-out 0.3s;
  opacity: 0.6;
}

.FEC:hover .img_description{
  visibility: visible;
  transition: ease-in 0.3s;
  opacity: 1;
}

.SDC{
  padding-top: 10px;
  overflow: hidden;

  min-width: 70%;
  max-width: 70%;
  transition: ease-in-out 0.5s;
}

.SDC:hover {
  cursor: pointer;
  transition: ease-out 0.5s;
  opacity: 0.6;
}

.SDC img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.BlueOcean{
  padding: 10px;
  overflow: hidden;
  min-width: 70%;
  max-width: 70%;
  transition: ease-in-out 0.5s;
}

.BlueOcean:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  opacity: 0.6;
}

.BlueOcean img{
  max-width: 100%;
  max-height: 100%;
}

.RPG{
  overflow: hidden;

  min-width: 70%;
  max-width: 70%;
  transition: ease-in-out 0.5s;
}

.RPG:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  opacity: 0.6;
}

.RPG img{
  max-width: 100%;
  max-height: 100%;
}