.ContainerProjects{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#FFF;
  min-height: 100vh;
}

.FEC{
  margin-top: 100px;
  background-color: #0e3147;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.FEC img{
  padding-top: 20px;
  max-width: 1080px;
}

.img_description{
  color: #FFF;
  padding-top: 10px;
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 50px;
  font-weight: bold;
}

.tech-stack{
  color: rgb(189, 189, 189);
  padding-top:10px;
  font-size: 15px;
}

.img-desc{
  color: #FFF;
  padding-top:10px;
  padding-bottom: 50px;
  font-size: 20px;
}

.SDC{
  background-color: #0f256e;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.SDC img {
  padding-top: 20px;
  max-width: 1080px;
}

.BlueOcean{
  background-color: #0e3147;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.BlueOcean img{
  padding-top: 20px;
  max-width: 1080px;
}

.RPG{
  background-color: #495867;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.RPG img{
  padding-top: 20px;
  max-width: 1080px;
}

.project-btn-text:visited{
  color: white;
  text-decoration: none;
}

.project-btn-text{
  color: white;
  text-decoration: none;
  background-color: green;
  padding: 10px 20px;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
}

.project-btn-text:hover{
  opacity: 0.7;
  transition: ease-in-out 0.3s;
}