.landingContainer{
  display: flex;
  background-color: #DAE6F2;
  margin-top: 100px;
  justify-content: center;
}

.background {
  max-width: 50%;
}

.intro {
  position: absolute;
  margin: 5% auto 0 auto;
  font-size: 1.5vw;
}
.name {
  position: absolute;
  margin: 7.5% auto 0 auto;
  font-size: 2vw;
}

.job {
  position: absolute;
  margin: 10.5% auto 0 auto;
  font-size: 1vw;
}

.techContainer{
  background-color: #FFF;
  text-align: center;
}

