.landing-container{
  max-width: 100%;
  min-width: 100%;
  font-family: 'Ubuntu', 'sans-serif';
}

.landingContainer{
  display: flex;
  background-color: #DAE6F2;
  margin-top: 100px;
  justify-content: center;
  overflow: hidden;
}

.background {
  min-width: 1280px;
  max-width: 1280px;
}

.salutation{
  font-family: 'Niconne', cursive;
  font-size: 50px;
  padding-bottom: 20px;
  color: #0e3147;

}

.profile-image {
  padding: 20px;
}

.intro {
  position: absolute;
  margin: 210px auto 0 auto;
  font-size: 20px;
}
.name {
  position: absolute;
  font-family: 'Catamaran', 'sans-serif';
  margin: 250px auto 0 auto;
  font-size: 35px;
}

.job {
  position: absolute;
  margin: 300px auto 0 auto;
  font-size: 20px;
  color: rgb(65, 64, 64)
}

.meContainer{
  text-align: center;
  max-width: 50%;
  margin: auto auto auto auto;
}

.bio{
  font-weight: 600;
  font-size: 15px;
  line-height: 2;
  padding: 10px;
}

.insta-description{
  font-weight: 600;
  font-size: 15px;
  line-height: 2;

}

.dots{
  text-align: center;
  font-size: 50px;
  color: #DAE6F2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.techContainer{
  background-color: #FFF;
  text-align: center;
}

.bio-title{
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.stack-title{
  font-weight: 600;
  font-size: 20px;
}

.contact-container{
  text-align: center;
  margin: auto;
  max-width: 50%;
}

.contact-title{
  font-size: 30px;
  text-decoration: underline;
}

.contact-description{
  line-height: 2;
  font-size: 15px;
  font-weight: 600;
}

.button{
  text-decoration: none;
  font-weight: 600;
  background-color: #0e3147;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0 0 10px #ccc;
  transition: ease-in-out 0.3s;
  margin-top: 20px;
  margin-bottom: 10px;
}

.link-button{
  text-decoration: none;
  color: white;
}

.link-button:visited{
  color:white;
}

.button:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: ease-in-out 0.3s;
}

