

.buttonContainer{
  padding-top: 40px;
  padding-right: 20px;
  justify-content: space-between;
}

.btn{
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.btn:visited {
  color: black;
}

.btn:hover{
  transition:  ease-in-out 0.3s;
  opacity: 0.6;
}